<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("17f792a7-8737-490e-bb01-5036b39c393c");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
